.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
  background-image: url('temp-bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MapContainer {
  height: 85%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirtyfive {
  display: flex;
  width: 35%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}
.hundred {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-padding {
  margin-top: 7rem;
}

.progressBar{
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.fifty {
  display: flex;
  width: 50%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}
.submit-cont {
  margin-top: 0.5vh;
}
.annotate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navBar {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.annotate-box {
  font-size: 16px;
  text-align: center;
}

.btn2 {
  border-radius: 15px;
  border: none;
  background-color: #00A1C6;
  color: white;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  margin: 0.5vw;
}

.upload-margin {
  margin-bottom: 0.5rem;
}

.btn2:hover {
  background-color: #00F7F7;
}

.entries {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 6%;
  align-items: center;
  justify-content: center;
}

.entry {
  margin: 7px;
  width: 40%;
  height: 40px;
  text-align: center;
  font-size: 29px;

  border: solid 2px black;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.entry:hover {
  -webkit-box-shadow: -1px 1px 19px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 19px -4px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 19px -4px rgba(0,0,0,0.75);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.links {
  list-style-type: none;
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}
.link-nodecor {
  text-decoration: none;
  color: black;
}
.btn1 {
  border: none;
  background-color: transparent;

  margin: 12px;

  cursor: pointer;


  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: #555;
}
.btn1:hover {
  color: black;
}
.btn1-2 {
  border: none;
  background-color: transparent;

  margin: 12px;

  cursor: pointer;


  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #555;
}
.btn1-2:hover {
  color: black;
}

.third {
  margin-right: 4rem;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  padding: 10px;
  z-index: 10000000;
}